<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
    href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" href= />
    <link rel="stylesheet" href="static/css/yoga_class_stylesheet.css" />
  </head>
  <body class="avenir">
    <h1 class="tc f1 lh-copy fw3">Demo Yoga Class</h1>
    <h2 class="tc f3 lh-copy fw3 mt0">Vinyasa Krama</h2>
    <div class="mw8 center">
      <video controls class="w-100 h-auto">
        <source src="/static/video/yoga_class_video.mp4" type="video/mp4" />
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </body>
</html>
